<h1>Listing Items</h1>

<%= will_paginate @items %>

<%= link_to 'New item', new_item_path %>

<table>
  <tr>
    <th>Thumbnail</th>
    <th>Category</th>
    <th>Publication</th>
    <th>Location</th>
    <th>Date</th>
    <th>Page</th>
    <th></th>
  </tr>
 
  <% @items.each do |item| %>
    <tr>
      <td><% if item.thumbnail.attached? %>
        <%= link_to image_tag(item.thumbnail), item.url %>
        <% else %>
        <%= link_to 'No thumbnail', item.url %>        
        <% end -%></td>
      <td>
        <% if item.category_id %>
          <%= link_to Category.find(item.category_id).name, category_path(item.category_id) %>
        <% end %>
      </td>
      <td><%= item.publication %></td>
      <td><%= item.location %></td>
      <td><%= item.date %></td>
      <td><%= item.page %></td>
      <td><%= link_to 'Show', item_path(item) %></td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Destroy', item_path(item),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', items_path %>
