<p>
  <strong>Filename:</strong>
  <%= link_to @item.filename, @item.url %>
</p>
 
<p>
  <strong>Publication:</strong>
  <%= @item.publication %>
</p>

<p>
  <strong>Location:</strong>
  <%= @item.location %>
</p>
 
<p>
  <strong>Date:</strong>
  <%= @item.date %>
</p>

<p>
  <strong>Page:</strong>
  <%= @item.page %>
</p>
 
<p>
  <strong>Thumbnail:</strong>
  <%= image_tag(@item.thumbnail) %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>